<br>
<br>
<br>
<div class="container main-container">

    <h1>Editar Música</h1>
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="editarMusica()" [formGroup]="musicaForm">
                
                <input type="hidden" id="id" name="id" value="">

                <div class="form-group">
                    <label class="control-label">Código</label>
                    <div>
                        <input class="form-control" id="codigo" type="text" placeholder="Código (requerido)" formControlName="codigo" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Gênero</label>
                    <div>
                        <select id="genero" formControlName="idGenero">
                            <option value="297eafd1-3c79-472f-ac4d-1a84bc273e16">Pagode</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" [routerLink]="[ '/lista-musica']">Voltar</a>
                </div>
            </form>
        </div>
    </div>

</div>